$primary-font: "Cuprum", sans-serif;
$secondary-font: "Alfa Slab One", cursive;
$primary-color: #565656;
$secondary-color: #fff;
$third-color: #e2b659;

@mixin buttonstyle {
  background: $third-color;
  color: $secondary-color;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  border: none;
  margin-top: 1rem;
  transition: 0.5s;
}

@mixin darktheme {
  background: $primary-color;
  color: $secondary-color;
}

*{
  @include darktheme();
}

.card,
.card-title,
.card-img,
.card-text,
.card-body {
  font-family: $primary-font;
  
}

.maincard {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card
 {
min-height: 80%;
}

.card{
  margin:2rem 0rem;
}

.card-title {
  font-family: $secondary-font;
}

.button a {
  text-decoration: none;

  @include buttonstyle();
}

.button:hover {
  opacity: 0.8;
}
