$primary-font: "Cuprum", sans-serif;
$secondary-font: "Alfa Slab One", cursive;
$primary-color: #565656;
$secondary-color: #fff;
$third-color: #e2b659;

@mixin buttonstyle {
  background: $third-color;
  color: $secondary-color;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  border: none;
  margin-top: 1rem;
  transition: 0.5s;
}

@mixin darktheme {
  background: $primary-color;
  color: $secondary-color;
}

* {
  @include darktheme();
}

.container{
  
}

.movie-view {
  margin: 1rem;
  font-family: $primary-font;
}

.title {
  font-family: $secondary-font;
  font-size: 2rem;
}

.button {
  @include buttonstyle();
}

.button:hover {
  opacity: 0.8;
}

.cardgroup button {
 margin:2rem 0rem;
  text-decoration: none !important;
  font-size: 1.1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);  //   background: linear-gradient(to right, #a2f71b, #8b8df3);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
}

// .cardgroup button:hover{
//   opacity: 0.8;
// }

.genre{
  padding-left:5rem;
}